.result_cont{margin-top: 1px;background: #FFF;padding: 5px 0;}
.result_cont h2{background:#FFF;color:#444;text-align:center;font-size:24px;text-transform:uppercase;border-bottom:solid 1px #EEE;padding-bottom:5px;}
.result_cont h3{background:#0099cc;padding:5px;color:#FFF;margin: 0 5px 0 5px;}
.result_cont .field{border:none;box-shadow:none;-moz-box-shadow:none;-o-box-shadow:none;-webkit-box-shadow:none;margin: 2% 0% 0 10px;}
.result_cont .keyword_search{padding: 5px 0 20px 0;}
.result_cont .keyword_search .text{margin-right:10px}
.result_cont .keyword_search button .ui-button-text{padding: 0.6em 2em}
.result_cont span.green{background:#359318;color:#FFF;padding:5px;margin-left:10px}
.result_cont span.red{background:#E30100;color:#FFF;padding:5px;margin-left:10px}
.result_side_cont{width:50%;float:left;margin-bottom: 20px;}

.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix{display:inline-block;}
* html .clearfix{height:1%;}
.clearfix{display:block;}

.result_cont .g{line-height:1.2;font-family:Arial,sans-serif;zoom:1;}
.result_cont .gtitle{font-size:18px;color:#1e0fbe;white-space:nowrap;text-overflow:ellipsis;width:571px;display:block;overflow:hidden}
.result_cont .gdesc{font-size:13px;color:#545454;width:712px;margin-top:-2px;line-height:1.4;word-wrap:break-word}
.result_cont .gurl{font-size:14px;color:#006621;width:510px;}

@media only screen and (max-width: 1800px){
    .result_side_cont.google{display:block;float:none;width:100%;}
}
