language: php

sudo: false

matrix:
  include:
    - php: 5.6
      env: DB=MYSQL CORE_RELEASE=3.2
    - php: 5.6
      env: DB=SQLITE3 CORE_RELEASE=3.2
    - php: 5.6
      env: DB=MYSQL CORE_RELEASE=3.3

before_script:
  - phpenv rehash
  - composer self-update
  - git clone git://github.com/silverstripe-labs/silverstripe-travis-support.git ~/travis-support
  - php ~/travis-support/travis_setup.php --source `pwd` --target ~/builds/ss
  - cd ~/builds/ss

script:
  - phpunit seotoolbox/tests

notifications:
  slack: innovativecodes:YoJEO1IutBmZV1E5wD8xrfDO
